h1 {
  text-align: center;
  font-size: 4rem;
}

.card {
  text-align: center;
}

.city p {
  text-align: center;
  margin-bottom: 0px;
}

.city h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.container {
  background-color: darksalmon;
  border-radius: 4px;
  margin-top: 5em;
  padding: 4rem;
  width: 100%;
}

.content {
  margin: 1rem auto;
}

.searchbar {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.stat-titles {
  font-weight: bold;
}

.weather-forecast {
  margin-top: 16px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

#greeting {
  font-size: 1.75rem;
}

#time {
  font-size: 2.5rem;
  font-weight: bold;
}

#time {
  font-size: 2rem;
}
